/* Append ' (PDF)' to links to slides */
a[href$=".pdf"]::after {
  content: ' (PDF)';
}

/* Style the blockquotes with a fancy quote character */
blockquote p:first-child {
  position: relative;
}
blockquote p:first-child::before {
  content: "“";
  display: block;
  position: absolute;
  font-size: 5rem;
  top: 0.9rem;
  left: -3.4rem;
}
/* If the last line is not an attribution line, add an empty
 * <p></p> so that the last paragraph is properly italicized. */
blockquote *:not(:last-child) {
  font-style: italic;
}
